@{
    ViewData["Title"] = "Home Page";
}


<body>


    <div class="bg-box d-flex justify-content-start align-items-center" style="background-image:url(https://themewagon.github.io/feane/images/hero-bg.jpg);">


        <div class="container">

            <div class="col-md-4 col-lg-4 m-5 text-white">
                <!-- Carousel -->
                <div id="demo"
                     class="carousel slide"
                     data-bs-ride="carousel"
                     style="z-index: 1">
                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button"
                                data-bs-target="#demo"
                                data-bs-slide-to="0"
                                class="active"></button>
                        <button type="button"
                                data-bs-target="#demo"
                                data-bs-slide-to="1"></button>
                        <button type="button"
                                data-bs-target="#demo"
                                data-bs-slide-to="2"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active  mb-5">
                            <h1 class="mb-4">Fast Food Restaurant</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                                aperiam ipsum placeat. Corporis dolorem itaque amet, enim
                                vero expedita unde asperiores laborum nisi porro sint
                                molestiae nobis ea debitis. Aperiam?
                            </p>
                        </div>
                        <div class="carousel-item  mb-5">
                            <h1>Fast Food Restaurant</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                                aperiam ipsum placeat. Corporis dolorem itaque amet, enim
                                vero expedita unde asperiores laborum nisi porro sint
                                molestiae nobis ea debitis. Aperiam?
                            </p>
                        </div>
                        <div class="carousel-item  mb-5">
                            <h1>Fast Food Restaurant</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                                aperiam ipsum placeat. Corporis dolorem itaque amet, enim
                                vero expedita unde asperiores laborum nisi porro sint
                                molestiae nobis ea debitis. Aperiam?
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


















    <div class="container mt-5">
        <div class="row gx-5 ">
            <div class="col-md-6 bg-dark text-white">
                <div class="offer-box">
                    <div class="img-box">
                        <img class="img-fluid rounded-circle m-2 border border-3 border-warning"
                             src="https://themewagon.github.io/feane/images/o1.jpg"
                             alt="" />
                    </div>
                    <div class="details container-fluid ps-3 pt-5">
                        <h3>Tasty Thursdays</h3>
                        <h2><span>20% </span>off</h2>
                        <button type="button"
                                class="btn btn-warning ps-4 pe-4 mb-3 rounded-5">
                            Order Now <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 bg-dark text-white">
                <div class="offer-box">
                    <div class="img-box">
                        <img class="img-fluid rounded-circle m-2 border border-3 border-warning"
                             src="https://themewagon.github.io/feane/images/o1.jpg"
                             alt="" />
                    </div>
                    <div class="details container-fluid ps-3 pt-5">
                        <h3>Tasty Thursdays</h3>
                        <h2><span>20% </span>off</h2>
                        <button type="button"
                                class="btn btn-warning ps-4 pe-4 mb-3 rounded-5">
                            Order Now <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container mt-4">
        <div class="heading-container text-center">
            <h2>Our Menu</h2>
        </div>
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-dark active">All</button>
                <button type="button" class="btn btn-dark">Burger</button>
                <button type="button" class="btn btn-dark">Pizza</button>
                <button type="button" class="btn btn-dark">Fries</button>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-4 col-md-6 mt-4 ">
                <div class="menu-box border bg-dark rounded-3 ">
                    <div id="our-menu" div class="bg-light text-center">
                        <img class="img-fluid"
                             style="width: 200px"
                             src="https://themewagon.github.io/feane/images/f1.png"
                             alt="" />
                    </div>
                    <div class="container bg-dark text-white text-start p-4 rounded-bottom-3">
                        <h5>Delicious Pizza</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate magnam eaque unde animi ipsum corporis!
                        </p>
                        <h6 class="text-start mt-5">
                            20$
                            <button type="button"
                                    class="btn btn-warning float-end rounded-5 pt-2 pb-2">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mt-4 ">
                <div class="menu-box border bg-dark rounded-3 ">
                    <div id="our-menu" div class="bg-light text-center">
                        <img class="img-fluid"
                             style="width: 200px"
                             src="https://themewagon.github.io/feane/images/f1.png"
                             alt="" />
                    </div>
                    <div class="container bg-dark text-white text-start p-4 rounded-bottom-3">
                        <h5>Delicious Pizza</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate magnam eaque unde animi ipsum corporis!
                        </p>
                        <h6 class="text-start mt-5">
                            20$
                            <button type="button"
                                    class="btn btn-warning float-end rounded-5 pt-2 pb-2">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mt-4 ">
                <div class="menu-box border bg-dark rounded-3 ">
                    <div id="our-menu" div class="bg-light text-center">
                        <img class="img-fluid"
                             style="width: 200px"
                             src="https://themewagon.github.io/feane/images/f1.png"
                             alt="" />
                    </div>
                    <div class="container bg-dark text-white text-start p-4 rounded-bottom-3">
                        <h5>Delicious Pizza</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cupiditate magnam eaque unde animi ipsum corporis!
                        </p>
                        <h6 class="text-start mt-5">
                            20$
                            <button type="button"
                                    class="btn btn-warning float-end rounded-5 pt-2 pb-2">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </h6>
                    </div>
                </div>
            </div>




        </div>















    </div>










    </div>

    <div class="container text-center mt-4">
        <button class="btn btn-warning text-center p-2 ps-4 pe-4 rounded-4 text-white">
            View More
        </button>
    </div>
    <div class="container-fluid">
        <div class="row bg-dark mt-5" div id="about">
            <div class="col-lg-6 col-12 order-lg-1 order-2 p-1 text-sm-center text-lg-end">
                <img src="https://themewagon.github.io/feane/images/about-img.png"
                     class="img-fluid p-5"
                     style="width: 60%" />
            </div>

            <div class="col-lg-4 col-12 order-lg-2 order-1 d-lg-flex align-items-center p-5 text-white text-sm-left">
                <h2>
                    We Are Feane
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                        dignissimos nemo maiores quis aliquam voluptates quae explicabo
                        ratione quibusdam? Hic! Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Ducimus, dolores!
                    </p>

                    <p>
                        <button class="btn btn-warning p-2 ps-4 pe-4 rounded-5 text-white">
                            Read More
                        </button>
                    </p>
                </h2>
            </div>
        </div>
    </div>

    <div class="container mt-4 book-table">
        <h1>Book A Table</h1>
        <div class="row">
            <div class="col-md-6 p-3">
                <div class="form-container">
                    <div class="form-action">
                        <input type="text"
                               class="form-control mt-1"
                               style="height: 50px"
                               placeholder="Your Name" />
                        <input type="text"
                               class="form-control mt-3"
                               style="height: 50px"
                               placeholder="Phone Number" />
                        <input type="email"
                               class="form-control mt-3"
                               style="height: 50px"
                               placeholder="Your Email" />
                        <input type="date"
                               class="form-control mt-3"
                               style="height: 50px"
                               placeholder="How Many Of You" />
                        <button class="btn btn-warning text-center p-2 ps-4 pe-4 mt-4 rounded-4 text-white">
                            Book Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="map-container">
                    <iframe style="width: 100%"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1512.1190432157425!2d-74.005973!3d40.712775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25bc353dbd189%3A0x4fa533cc29a8c233!2sOld%20City%20Hall%20Station!5e0!3m2!1str!2sus!4v1697497579602!5m2!1str!2sus"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    

</body>
