
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <div class="container-item">
        <nav class="navbar navbar-expand-sm">
            <a href="#" class="navbar-brand text-white">
                <h2>Feane</h2>
            </a>

            <button class="navbar-toggler navbar-dark"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="Index" asp-controller="Home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="Menu" asp-controller="Home">MENU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="About" asp-controller="Home">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">BOOK TABLE</a>
                    </li>
                </ul>

                <div class="user-account">
                    <a href="#" class="user-link">
                        <i class="fa fa-user"
                           aria-hidden="true"
                           style="color: white"></i>
                    </a>
                    <a asp-action="GetCart" asp-controller="Home" id="btn-cart" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-shopping-cart"
                           aria-hidden="true"
                           style="color: white"></i><span id="cartItemCount">0</span>
                    </a>


                    <a href="#">
                        <i class="fa fa-search"
                           aria-hidden="true"
                           style="color: white"></i>
                    </a>
                </div>

                <button class="btn btn-warning text-center p-2 ps-4 pe-4 ms-4 rounded-4 text-white">
                    Order Online
                </button>
            </div>
        </nav>
    </div>


</body>








