
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      

</head>
<body>
    <div class="box">
        <div class="container-item">
            <nav class="navbar navbar-expand-sm">
                <a href="#" class="navbar-brand text-white">
                    <h2>Feane</h2>
                </a>

                <button class="navbar-toggler navbar-dark"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Menu">MENUS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Extra">SAUCES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Home">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">BOOK TABLE</a>
                        </li>
                    </ul>

                    <div class="user-account">
                        <a asp-action="Login" asp-controller="Account" class="user-link">
                            <i class="fa fa-user"
                               aria-hidden="true"
                               style="color: white"></i>
                        </a>
                        <a asp-action="Index" asp-controller="Cart" id="btn-cart">
                            <i class="fa fa-shopping-cart"
                               aria-hidden="true"
                               style="color: white"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-search"
                               aria-hidden="true"
                               style="color: white"></i>
                        </a>
                    </div>

                    <a asp-action="Index" asp-controller="Menu" id="btn-cart" class="btn btn-warning text-white text-center p-2 ps-4 pe-4 ms-4 rounded-4">Order Online</a>
                </div>
            </nav>
        </div>
    </div>

</body>








