<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    <div class="contact-container bg-dark text-white p-5 ">
        <div class="contact ms-5 me-5">
            <div class="row">
                <div class="col-md-3 text-center mt-4 ">
                    <h2>Contact Us</h2>
                    <div class="contact-link d-flex flex-column  ">
                        <a href="#"><i class="fa fa-location-pin"></i>Location</a>
                        <a href="#"><i class="fa fa-"></i>Call +90 111 222 33 33</a>
                        <a href="#"><i class="fa fa-envelope"></i>info@feane.com</a>
                    </div>
                </div>

                <div class="col-md-6 text-center mt-4">

                    <h1>Feane</h1>
                    <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>

                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="#"><i class="fa-brands fa-pinterest"></i></i></a>

                    </div>
                </div>

                <div class="col-md-3 text-center mt-4">
                    <h2>Opening Hours</h2>
                    <p>Everyday</p>
                    <p>10.00 Am -10.00 Pm</p>
                </div>

            </div>



        </div>
    </div>

</body>
</html>